
.header {
    background-color: rgb(167, 142, 109); 
    background-image: url('image/taustabanner.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 200px;
    background-position: center;
    
}

body {
    padding: 0;
    margin: 0;
    background: rgba(255, 255, 255, 1);
    
}
.navbar {

    height: 15em;
}

.nav-link,
.navbar-brand {
    color: rgb(185, 106, 106);
    cursor: pointer;
    margin-left: 5em;
}
.navbar-brand {
    color: #fff;
    cursor: pointer;
    margin-left: 15em;
}
.nav-link {
    margin-right: 5em;
    background-color:  #F4E9E9;
    border-radius: 3em;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    width: 6em;
    text-align: center;
}
.nav-link:hover {
    background-color: #d4c5c5;
}
.navbar-collapse {
    justify-content: flex-end;
}

.header {
    background-color: rgb(167, 142, 109); /* miten t채n hemmetin png tiedoston saa t채h채n laitettua v채rin sijaan :( */
    background-image: url('image/taustabanner.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 200px;
    background-position: center;
}

.container1{
    background-color: #F4E9E9;
}
  
.background_image{
    background-image: url(/team21/assets/images/BackgroundSalad.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

